body {
    font-family: 'Kumbh Sans';
    line-height: 1.6;
    background-color: #333366;
}
.container{
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    border: 1px solid #333666;
    border-radius: 9px;
}.tabla{
    width: 100%;
    }
thead{
    background-color: #333666;
    color: #fafafa;
}
th{
    padding: 10px;
}