{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <h1>Olvido de contraseña</h1>
            <label for="email">Correo electronico: </label>
            <input type="text" id="email" name="email"><br>
            <label for="email">Correo electronico: </label>
            <input type="text" id="email" name="email"><br>
    </div>
</body>
</html>