{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesVarios.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <img class="img" src="{% static 'img/logoHyper.png' %}" alt="Logo de la tienda Hyper" width="10%">
        <div class="nav">
            <div class="perfil"> <a href="{% url 'index' %}">Inicio</a> </div>
            <div class="facturas"><a href="{% url 'perfil' %}">Perfil</a> </div>
            <div class="carrito"> <a href="{% url 'facturas' %}">Facturas</a> </div>
            <div class="carrito"> <a href="{% url 'login' %}">Cerrar Sesion</a> </div>
        </div>
        <div class="header">
            <h1>Carrito de Compras</h1>
        </div>
        {% if mensaje %}
            <p style="color: green; text-align: center;">{{ mensaje }}</p>
        {% endif %}
        {% for sublist_products in carrito %} 
            <section class="products">
                {% for product in sublist_products %}
                    <article class="product">
                        <img src="http://127.0.0.1:8000/{{ product.imagen }}" alt="img product">
                        <h3>{{product.nombre}}</h3>
                        <p><b>Cantidad: </b> {{ product.cantidad }} </p> 
                        <p><b>SubTotal: </b> {{ product.subtotal }}$</p> 
                        <form method="post"> {% csrf_token %}
                            <input type="hidden" name="eliminar" value="{{ product.id }}">
                            <button type="submit" style="font-size: 20px; padding: 5px 0px">Eliminar</button>
                        </form>
                    </article>
                {% endfor %}
            </section>
        {% endfor %}
        <div class="total">
            <h2>
                Total: {{total}}
                <form method="post"> {% csrf_token %}
                    <input type="hidden" name="pagar">
                    <button type="submit" style="font-size: 20px; padding: 5px 0px; width: 200px; margin: 0 0 0 15px">Pagar Carrito</button>
                </form>
            </h2>
        </div>
    </div>
</body>
</html>