{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesVarios.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Facturas</h1>
        </div>
        <div class="contenido">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Fecha de compra</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <th>xxxx</th>
                        <th>xxxx</th>
                        <th>xxxx</th>
                        <th>xxxx</th>
                        <th>xxxx</th>
                        <th>xxxxx</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>