{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesVarios.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <img class="img" src="{% static 'img/logoHyper.png' %}" alt="Logo de la tienda Hyper" width="10%">
        <div class="nav">
            <div class="perfil"> <a href="{% url 'index' %}">Inicio</a> </div>
            <div class="facturas"><a href="{% url 'perfil' %}">Perfil</a> </div>
            <div class="carrito"> <a href="{% url 'carrito' %}">Carrito</a> </div>
            <div class="carrito"> <a href="{% url 'login' %}">Cerrar Sesion</a> </div>
        </div>
        <div class="header">
            <h1>Facturas</h1>
        </div>
        <div class="contenido">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Fecha de compra</th>
                        <th>Total</th>
                    </tr>
                    {% for factura in facturas %}
                    <tr>
                        <th>{{ nombre }}</th>
                        <th>{{ apellido }}</th>
                        <th>{{ telefono }}</th>
                        <th>{{ correo }}</th>
                        <th>{{ factura.f_facturacion }}</th>
                        <th>{{ factura.monto_total }}$</th>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</body>
</html>