<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Hyper</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">
</head>
<header>

    </button>
    </nav>
</header>
<body>
    {% block body %}{% endblock %}
    <!-- Footer -->
    <footer id="main-footer" style="background: #253647; color: white;"></footer>
</body>
</html>