{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesIndex.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <img class="img" src="{% static 'img/logoHyper.png' %}" alt="Logo de la tienda Hyper" width="10%">
        <div class="nav">
            <div class="perfil"> <a href="{% url 'index' %}">Inicio</a> </div>
            <div class="facturas"><a href="{% url 'facturas' %}">Facturas</a> </div>
            <div class="carrito"> <a href="{% url 'carrito' %}">Carrito</a> </div>
            <div class="carrito"> <a href="{% url 'login' %}">Cerrar Sesion</a> </div>
        </div>
        <div class="header">
            <h1>Perfil de Usuario</h1>
        </div> 
        <div class="content">
            <div class="user-info">
                <h2>{{ nombre }} {{ apellido }}</h2>
                <div class="header">
                    <h3>Datos Generales:</h3>
                </div>
                <p>Numero de Cedula: {{ cedula }}</p>
                <p>Género: {{ genero }}</p>
                <p>Fecha de Nacimiento: {{ f_nacimiento }}</p>
                <p>Correo Electrónico: {{ correo }}</p>
                <p>Teléfono: {{ telefono }}</p>
            </div>
            <form method="post">{% csrf_token %}
                <div class="header">
                    <h3>Prefencias:</h3>
                </div>
                {% if error %}
                    <p style="color: red; text-align: center;">{{ mensaje }}</p>
                {% endif %}
                {% if mensaje and not error %}
                    <p style="color: green; text-align: center;">{{ mensaje }}</p>
                {% endif %}
                <p>
                {% for categoria in categorias %}
                    <input type="checkbox" name="categoria" value="{{ categoria.id }}" {% if categoria.id in preferencias %}checked{% endif %}> <label for="categoria">{{ categoria.nombre }}</label>
                {% endfor %}
                </p>
                <button type="submit">Actualizar Preferencias</button>
            </form>
        </div>  
    </div> 
</body>
</html>