{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Kumbh Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesIndex.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Perfil de Usuario</h1>
        </div> 
        <div class="content">
            <div class="user-info">
                <h2>Nombre y Apellido</h2>
                <p>Correo electrónico</p>
                <p>Numero de cedula</p>
                <p>Género</p>
            </div>
        </div>  
    </div> 
</body>
</html>